---
const { project } = Astro.props;
import Video from "./Video.astro";
---

<div
    class="flex flex-col gap-4 p-4 bg-gray-800 border-b-gray-600 border-t-blue-500 border-t-4 border-2 rounded-md border-gray-700"
>
    <h4>{project.frontmatter.title}</h4>
    <div>
        {
            project.frontmatter.tags.map((tag) => (
                <span class="bg-gray-500 px-2 text-sm rounded-lg mr-2">
                    {tag}
                </span>
            ))
        }
    </div>
    <p>
        {project.frontmatter.summary}
    </p>
    {
        project.frontmatter.preview_movie && (
            <div class="h-1/2 w-1/2">
                <Video src={project.frontmatter.preview_movie} />
            </div>
        )
    }
    <a class="text-blue-500 underline" href={project.url}>read more</a>
</div>
